* {
    box-sizing: border-box;
  }
  body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr, auto;
    grid-template-rows: auto, auto, 1fr, auto;
    font-family: Tahoma, Verdana, sans-serif;
  }
  
  header, header img{
    background: #49111C;
    color: White;
    padding: .5rem;
    display: grid;
    grid-template-columns: auto 48px;
    align-content: center; 
  }

  header p{
    padding: 1rem;
  }

  .join-button{
    display: grid;
    margin: auto;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 25px;
    padding: 14px 28px;
    width: 250px;
    height: 50px;
    cursor: pointer;
    background-color:#a9927d;
    color:black;
  }

/* menu css*/
  header button {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 48px;
    width: 48px;
    font-size: 2rem;
    background-color:#a9927d;
  }

  button:hover, nav a:hover{
    background-color:white;
  }

  nav {
    display: none;
    flex-direction: column;
    /* top: 80px;
    right: 0px;
    margin: 0 auto;
    max-width: 760px; */
    gap: 8px;
    text-align: center;
    background-color: #a9927d;
    color: #f2f4f3;
  }

  nav.open {
    display: block;
  }
  .close::before {
    content: " ❌ ";
  }

  nav ul {
    margin: 0px;
    padding: 0px;
  }

  nav li {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border-color: #49111C;
    border-style: solid;
  }

  nav li:hover{
    background-color: white;
  }

  nav a {
    display: block;
    padding: 0.75rem 2rem;
    text-align: left;
    text-decoration: none;
    color: black;
 } 

/*end menu*/

  main {
    background: #f2f4f3;
    height: 100%;
    padding: 1rem;
    grid-column: 1/3 ;
  }
  
  section {
    background: #a9927d;
    padding: 1rem;
    grid-column: 1/3;
  }
  
  footer {
    background: #5E503F;
    color: #f2f4f3;
    padding: 2rem;
    text-align: center;
    grid-column: 1/3 ;
  }
  