* {
    box-sizing: border-box;
  }
  body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr, auto;
    grid-template-rows: auto, auto, 1fr, auto;
    font-family: Tahoma, Verdana, sans-serif;
  }
  
  header, header img{
    background: #49111C;
    color: White;
    padding: .5rem;
    display: grid;
    grid-template-columns: auto 48px;
    align-content: center;
  }
/* menu css*/
  header button {
    height: 48px;
    width: 48px;
    font-size: 2rem;
  }

  nav {
    display: none;
    position: absolute;
    top: 80px;
    right: 0px;
    background-color: #a9927d;
    color: #f2f4f3;
  }
  nav.open {
    display: block;
  }
  nav ul {
    margin: 0px;
    padding: 0px;
  }
  nav li {
    list-style: none;
  }
  nav a {
    display: block;
    padding: .75rem 2rem;
    color: black
 } 

/*end menu*/

  main {
    background: #f2f4f3;
    height: 100%;
    padding: 1rem;
    grid-column: 1/3 ;
  }
  
  section {
    background: #a9927d;
    padding: 1rem;
    grid-column: 1/3;
  }
  
  footer {
    background: #5E503F;
    color: #f2f4f3;
    padding: 2rem;
    text-align: center;
    grid-column: 1/3 ;
  }
  