* {
    box-sizing: border-box;
  }
  body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr, auto;
    grid-template-rows: auto, auto, 1fr, auto;
    font-family: Tahoma, Verdana, sans-serif;
  }
  h1 {
    display: flex; 
  }
  header {
    background: #49111C;
    color: White;
    padding: .5rem;
    display: grid;
    grid-template-columns: auto 48px;
    align-content: center; 
  }
  header img{
    display: block;
  }
  header p{
    padding: 1rem;
    font-size: larger;
  }

  .join-button{
    display: flex;
    margin: auto;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 25px;
    padding: 14px 28px;
    width: 250px;
    height: 50px;
    cursor: pointer;
    background-color:#a9927d;
    color:black;
    gap: 8px;
  }

/* menu css*/

  header button {
    height: 48px;
    width: 48px;
    font-size: 2rem;
    background-color:#a9927d;
  }
  nav {
    /* display: none; */
    position: absolute;
    top: 100px;
    right: 25px;
    margin: 0 auto;
    max-width: 760px;
    gap: 8px;
    text-align: center;
    background-color: #a9927d;
    color: #f2f4f3;
  }
  nav li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul {
    margin: 0px;
    padding: 0px;
  }
  nav a {
    display: block;
    position: column;
    padding: 0.75rem 2rem;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 0.5s;
  }
  nav li {
    text-decoration: none;
    color:black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: vertical 0.5s ease-in-out;
    background-color: #a9927d;
    } 
  nav a:hover, button:hover {
    background-color: white;
    }
  nav.open {
    display: block;
    }
  .close::before {
    content: " ❌ ";
    }

/*end menu*/

  main {
    background: #f2f4f3;
    height: 100%;
    padding: 1rem;
    grid-column: 1/3 ;
  }
  
  section {
    background: #a9927d;
    padding: 1rem;
    column-gap: 10px;
    grid-column: 1/3;
  }
  
  footer {
    background: #5E503F;
    color: #f2f4f3;
    padding: 2rem;
    text-align: center;
    grid-column: 1/3 ;
  }
  