
@media only screen and (min-width: 600px){
 
    header {
        grid-template-columns: auto auto;
    }   
    header button{
        display: none;
    }


    nav {
        min-width: 1400px;
        top: 0px;
        font-size: larger;
    }
    nav ul {
        display: flex;
        flex-direction: row-reverse;
    }


    main {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        max-width: auto; 
        margin: 0;
        gap: 1rem; 
        background-color: #6c6061;
     }
    main h1{
        grid-column: 1 / span 2;
    }
    section{
        column-gap: 10px;
        margin: 0 1.5%;
        width: 600px ; 
    }
    .main-content {
        margin-left: 200px;
        padding: 1px 16px;
        height: auto;
      }
    .left-sidebar {
        margin: 0;
        top: auto;
        padding: 0;
        margin-right:auto;
        background-color: #a9927d;
        height:50%;
        position: absolute;
        overflow: auto;
      } 
    
    }
    