@media only screen and (min-width: 7600px){
    
    header {
        width: 100%;
        display: flex;
    }  
    header button{
        display: none;
    }
    /* header p {
        display: flex;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        font-size: larger;
    } */
    nav {
        min-width: 1400px;
        top: 10px;
        font-size: larger;
    }
    nav ul {
        display: flex;
        flex-direction: row-reverse;
    }
   section{
        column-gap: 10px;
        margin: 0 1.5%;
        width: 30%; 

    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: auto; 
        margin: 0;
        gap: 1rem;  
        background-color: #6c6061;
    }
    main h1{
        grid-column: 1/ span 2;
    }
    .main-content {
        margin-left: 200px;
        padding: 1px 16px;
        height: auto;
      }
    .left-sidebar {
        margin: 0;
        top: 50%;
        padding: 0;
        margin-right:auto;
        background-color: #a9927d;
        height:50%;
        position: absolute;
        overflow: auto;
      }

    
}