* {
    box-sizing: border-box;
  }
  body {
    font-family: Tahoma, Verdana, sans-serif;
  }
  h1 {
    display: flex; 
    padding: 10px;
  }
  header {
    display: grid;
    padding: .5rem;
    grid-template-columns: auto 48px;
    background: #49111C;
    color: White;
  }
  header button {
    height: 48px;
    width: 48px;
    font-size: 2rem;
    background-color:#a9927d;
  }
  header img{
    display: flex;
    border-color:rgb(236, 225, 195);
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    top: 100px; 
    left: 50px; 
    width: 100%;
    height: auto;
  }
  .join-button{
    display: flex;
    margin: auto;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 25px;
    padding: 14px 28px;
    width: 250px;
    height: 50px;
    cursor: pointer;
    background-color:#a9927d;
    color:black;
    gap: 8px;
  }

/* Menu code below */
  
nav  {
    /* display: none; */
    position: absolute;
    top: 100px;
    right: 0px;
    margin: 0 auto;
    max-width: 760px;
    background-color:#a9927d ;
  }
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
nav ul {
    margin: 0px;
    padding: 0px;
  }
nav a {
    display: block;
    position: column;
    padding: 0.75rem 2rem;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 0.5s;
  }
.menu a:hover, button:hover {
  background-color: white;
  }
.menu li {
  text-decoration: none;
  color:black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: vertical 0.5s ease-in-out;
  background-color:#a9927d ;
  } 
 nav.open {
  display: block;
  }  
.close::before {
  content: " ❌ ";
  }
/*end of menu*/

  main {
    display: grid;
    grid-column: 1/3 ;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: .5rem;
    min-width: auto;
    background-color: #6c6061;
    color: #000;
    margin: auto;
  }
  
  section {
    color: black;;
    border-color:rgb(77, 24, 24);
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 25px;
    background-color:#a9927d ;
    gap: 1.5rem;
  }

  footer {
    background: #5E503F;
    color: #f2f4f3;
    padding: 2rem;
    text-align: center;
    grid-column: 1/3 ;
  }
  