
@media only screen and (min-width: 600px){
 
    header {
        width: 100%;
        grid-column: 1 / 4;
        height: 20 rem;
    } 
    header img {
        width:fit-content;
        position: center;
        display: flex;
        margin: auto;
        border: none;
    }  
    header button{
        display: none;
    }

    main h1{
        grid-column: 1 / span 2;
    }

    nav {
        min-width: 1500px;
        top: 0px;
        font-size: larger;
        display: block;
    }
    nav ul {
        display: flex;
        flex-direction: row-reverse;
    }

/* Sections Chamber Home page css */
    article {
        display: grid;
        grid-template-columns: 1 / 3;

    }
    article {
        display: grid;
        grid-column: 1 / 3 ;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: .5rem;
        min-width: auto;
        background-color: #847678;
        color: #000;
        margin: auto;
        }

    article.comm-info, article.weather {
        color: black;;
        padding: 1rem;
        border-color:rgb(77, 24, 24);
        border-style: solid;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 25px;
        gap: 1.5rem;
        background:#a9927d;
        grid-row: 2;
        }

    article.comm-info {
        grid-column-end: 2 span;
    }

    article.bus-spot1, article.bus-spot2, article.bus-spot3 {
        color: black;;
        padding: 1rem;
        border-color:rgb(77, 24, 24);
        border-style: solid;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: left;
        border-radius: 25px;
        gap: 1.5rem;
        background:#a9927d;
        grid-template-columns: 1 / span 2 ;
        grid-row: 3;
        text-align: center;
        } 
         
/* Discover page css */
    .main-content {
        flex: 3;
        margin-left: 400px;
        min-width: 400px;
    }
    h2 {
        text-align: center;
    }
    .main-content img:hover {
        box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2), 0 16px 44px 0 rgba(0, 0, 0, 0.19);
        border-color:rgb(85, 2, 2) ;
        border-width: 10px;
    }

    .left-sidebar {
        flex: 1;
        text-align: justify;
        padding: 10px;
        width: 400px;
        height: auto;
        position: absolute;
        top: 41rem;
      }

/* Directory page css */

    #directory button {
        padding: 5px;
        font-weight: 700;
        font-size: medium;
        }
    .grid #cards {
        display: grid;
        grid-gap: .5rem;
        grid-template-columns: auto auto auto;
        padding: 1rem; 
        width: 100%;
        }
    main {
        display:block;
        }
    article.list #cards {
        display: block;
        margin: 0;
        padding: 0;
        }
    .list section > * {
        margin: 0 1rem;
        text-align: justify;
        }


}   