@media only screen and (min-width: 600px){

   nav {
        overflow: hidden;
        background-color: rgb(161, 121, 121);
        width: auto;
        height: 100px;
    }
    nav a {
        color: rgb(236, 225, 195);
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
    }
    nav svg {
        color: rgb(236, 225, 195);
        float: left;
        display: block;
        text-align: center;
    }

    main {
        grid-template-columns: 2;
        column-gap: 10px;   
    }
    
    
}