* {
    box-sizing: border-box;
  }
  nav {        
    background-color: rgb(4, 6, 117);
    background-color: rgb(245, 165, 242);
    color: white;
    padding: 1rem;
    border: 1rem;
    
  }

  }
   main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: auto, 1fr;
    grid-template-rows: auto, 1fr;
  }
  
  header {
    background: rgb(69, 41, 73);

  section {
    background:white;
    
    padding: 2rem;
    grid-column: 1;
  }
   
  

  footer {
    background: rgb(69, 41, 73);
    background:  rgb(245, 165, 242);
    padding: 2rem;
    text-align: center;
    grid-column: 1;
  }