* {
    box-sizing: border-box;
  }
  a {
    color: purple;
  }
  nav {        
    background-color: rgb(14, 74, 37);
    padding: 1rem;
    border: 1rem;
  }

  header {
    background: rgb(69, 41, 73);
    color: beige;
    padding: 2rem;
    grid-column: 1;
  }

   main {
    background-color: rgb(49, 87, 49);
  	display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 1rem;
  }

  section {
    width: 400px;
    border: 15px;
    margin: 20px;
    background:white;
    padding: 2rem;
    text-align: center;
    grid-column: 1/3
  }

  footer {
    background:  rgb(14, 74, 37);
    padding: 2rem;
    text-align: center;
    grid-column: 1/3;
  }