* {
    box-sizing: border-box;
  }
  nav a {
    color: rgb(236, 225, 195);
  }
  nav { 
    width: auto;
    height: auto;      
    background-color: rgb(77, 24, 24);
    padding: 1rem;
    border: 1rem;
  }
  a {
    color: rgb(161, 121, 121);
  }
  header {
    background: rgb(236, 225, 195);
    color: black;
    padding: 1rem;
  }
  title {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
  }
   main {
    background-color: rgb(161, 121, 121);
    padding: 1rem;
  }

  section {
    color: rgb(236, 225, 195);
    width: 300px;
    border: 10px;
    margin: 10px;
    background:rgb(77, 24, 24);
    padding: 1rem;
    grid-template-columns: 1fr;
  }

  footer {
    background:rgb(236, 225, 195);
    padding: 1rem;
    text-align: center;
    grid-column: 1/3;
  }