@media only screen and (min-width: 38rem){

    header {
        grid-template-columns: auto auto;
    }
    nav button {
        display: none;
    }
    nav {
        position: initial;
        display: block;
    }
    nav ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }

    main {
       display: grid;
       grid-template-columns: 1fr 1fr ;
       max-width: 800px; 
       margin: auto;
       gap: 1rem;  
    }

    img {
        position: absolute;
        top: 20px;
        left: 40px;
    }
    main h1{
        grid-column: 1 / span 2;
    }
    .card1 {
        grid-row: 2 / span 2;

    }
}